.compie {
    color: white;
    background-color: red;
    border: none;
    padding: 6px 9px;
    font-size: 98px;
    margin-left: 30px;
   }
   
   .nav {
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
   
   }
   .btn {
    background-color: #33455d;
    color: white;
    border: none;
   }

   
      .right {
       .sofa {
        position: absolute;
       }
       .selectdiv{
        direction: rtl;
        background-color: #33455d;
        border: none;
       }
   
      }